.skills{
  width: 600px;
  margin: 40px auto;
}
.skills li{
  list-style: none;
  margin: 40px 0;;
}
.bar{
  display: block;
  height: 6px;
  background: black;
  /* border: 1px solid white; */
  border-radius: 4px;
  overflow: hidden;
  margin: 20px 0;
}
.bar span{
  background:coral;
  height: 6px;
  float: left;
}
.html{
  width: 80%;
}
.css{
  width: 65%;
}
.js{
  width: 50%;
}
.jq{
  width: 60%;
}
.react{
  width: 30%;
}